ORIGIN=your_host
DATABASE_URL=your_database_url
BETTER_AUTH_SECRET= your_auth_secret_here
STRIPE_SECRET_KEY = your_stripe_secret_here
PUBLIC_STRIPE_PUBLISHABLE_KEY = your_public_stripe_key_here
STRIPE_WEBHOOK_SECRET = your_webhook_secret_here

